@use "../../../styles/mixins";
@use "../../../styles/variables";

.about--me--container {
    padding-top: 7rem;
    .about--me--sub--container {
        @include mixins.flex--layout($direction: row,
            $align: start,
            $justify: start);
        @include mixins.center--section;

        .about--me--title--and--social--container {
            width: 60%;
            @include mixins.flex--layout($direction: column,
                $align: start,
                $justify: start);
            height: 100%;

            .about--me--title {
                @include mixins.flex--layout($direction: row,
                    $align: start,
                    $justify: start);
                font-size: 1.2vw;
                font-weight: 400;
                color: variables.$tertiary--text--color;
                overflow: hidden;
                column-gap: 5rem;
            }

            .about--me--social--container {
                @include mixins.flex--layout($direction: column,
                    $align: start,
                    $justify: start);

                .about--me--social--title {}

                .about--me--social--links--container {}
            }
        }

        .about--me--intro {
            width: 100%;
            @include mixins.flex--layout($direction: column,
                $align: baseline,
                $justify: baseline);

            .about--me--header--container {
                @include mixins.flex--layout($direction: row,
                    $align: start,
                    $justify: start);

                .about--me--header--title {
                    font-family: sans-serif;
                    font-size: 7vw;
                    color: hsl(0, 0%, 100%);
                    font-weight: 600;
                    overflow-x: hidden;

                    .about--me--title--character {
                        transform: translate(100%, 0%);
                        font-family: Instrument Sans, -apple-system, Helvetica Neue,
                            sans-serif;
                    }
                }
            }

            .about--me--text--container {
                width: 100%;
                @include mixins.flex--layout($direction: row,
                    $align: start,
                    $justify: start);
                flex-wrap: wrap;
                column-gap: 0.5rem;

                .about--me--text {
                    @include mixins.flex--layout($direction: column,
                        $align: start,
                        $justify: start);
                    font-family: Satoshi, -apple-system, Helvetica Neue, sans-serif;
                    font-size: 2.3vw;
                    font-weight: 400;
                    color: hsl(0, 7%, 59%);
                    overflow: hidden;

                    span {
                        color: variables.$tertiary--text--color;
                    }
                }
            }
        }
    }
}