@use "../../../styles/mixins";
@use "../../../styles/variables";

.mantra--container {
    position: relative;
    width: 100vw;

    .mantra--section {
        position: relative;
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        .image--scroll--list {
            @include mixins.flex--layout($direction: column,
                $align: center,
                $justify: center);
            row-gap: 15vh;
            mix-blend-mode: difference;
            will-change: transform;
            position: relative;

            .image--scroll--item {
                position: relative;
                z-index: 10;
                aspect-ratio: 1.5/1;
                width: 40vw;
                max-width: 560px;

                @include mixins.responsive(xs) {
                    width: 70vw;
                    max-width: none;
                }

                .image--scroll--text--container {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include mixins.center--element;
                    font-size: 12vw;
                    line-height: 12.8rem;
                    font-weight: 600;
                    color: variables.$primary--text--color;
                    overflow: hidden;
                }

                .glass {
                    top: 0;
                    box-shadow: 0 0 5px 0;
                    backdrop-filter: blur(10px);
                    height: 100%;
                    position: fixed;
                    z-index: 9999999999;
                }

                .image--container {
                    position: relative;
                    display: block;
                    pointer-events: none;
                    user-select: none;
                    border-radius: 5vh;
                    overflow: hidden;
                    backface-visibility: hidden;
                    transform:
                        perspective(150px) rotateX(20deg) translateY(30px);
                    transform-style: preserve-3d;
                    z-index: 999;
                    filter: blur(2px);

                    .image--sub--container {
                        border-radius: 5vh;
                        @include mixins.image--sub--container(20rem, 40vw);
                        overflow: visible;
                        padding-bottom: 0;
                        pointer-events: none;
                        user-select: none;
                        z-index: -10;
                        border: 1px solid black;

                        @include mixins.responsive(xs) {
                            @include mixins.image--sub--container(20rem, 70vw);

                        }

                        .image {
                            @include mixins.image($height: 20rem, $width: 40vw);
                            pointer-events: none;
                            user-select: none;
                            border-radius: 5vh;
                            z-index: -10;
                            border: 1px solid black;

                            @include mixins.responsive(xs) {
                                pointer-events: none;
                                @include mixins.image($height: 20rem, $width: 70vw);
                            }
                        }
                    }
                }
            }


        }

        .image--scroll--text--container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;

            .image--scroll--text--sub--container {
                position: sticky;
                top: 0;
                width: 100%;
                height: 100vh;
                display: grid;
                place-items: center;
                mix-blend-mode: difference;

                .image--scroll--text {
                    //height: 2.8cap;
                    width: 25ch;
                    font-size: clamp(20px, 3.5vw, 100px);
                    line-height: 1.5;
                    overflow-y: clip;

                    p {
                        position: relative;
                        line-height: 1.5;
                        font-size: clamp(20px, 3.5vw, 100px);
                        text-transform: uppercase;
                        color: #f9f9f9;
                        text-align: center;
                        mix-blend-mode: difference;

                        span {
                            // transform: translateX(-50%) 
                            // translateY(0cap) 
                            // translateZ(0px);
                            // display: block;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            width: max-content;
                        }
                    }
                }
            }
        }

    }

    .mantra--pinned--section {
        z-index: 1;

        .mantra--pinned--content {
            max-width: 800px;
            margin: 0 auto;

            .image--container {
                position: relative;
                display: block;
                pointer-events: none;
                user-select: none;
                overflow: hidden;
                backface-visibility: hidden;
                // transform:
                //     perspective(150px) rotateX(20deg) translateY(30px);
                transform-style: preserve-3d;
                // z-index: 999;
                // filter: blur(2px);

                .image--sub--container {
                    border-radius: 5vh;
                    @include mixins.image--sub--container(20rem, 40vw);
                    overflow: visible;
                    padding-bottom: 0;
                    pointer-events: none;
                    user-select: none;
                    z-index: -10;

                    @include mixins.responsive(xs) {
                        @include mixins.image--sub--container(20rem, 70vw);

                    }

                    .image {
                        @include mixins.image($height: 20rem, $width: 40vw);
                        pointer-events: none;
                        user-select: none;
                        border-radius: 5vh;
                        z-index: -10;

                        @include mixins.responsive(xs) {
                            pointer-events: none;
                            @include mixins.image($height: 20rem, $width: 70vw);
                        }
                    }
                }
            }
        }

    }
}





.overlapping--section {
    background-color: rgba(255, 255, 255, 0.9);
    color: white;
    z-index: 2;
    padding: 15rem 0;
}

.last-section {
    background-color: #f9fafb;
    z-index: 3;
}


.overlapping-section .content {
    background-color: #3b82f6;
}