@use "../../../styles/mixins";
@use "../../../styles/variables";

.hero--main--container {
    min-height: 100vh;
    padding-top: 5rem;

    @include mixins.responsive(sm) {
        padding-top: 3rem;
        min-height: max-content;
    }

    .hero--sub--container {
        @include mixins.center--section;
        @include mixins.flex--layout($direction: column,
            $align: baseline,
            $justify: baseline);
        row-gap: 4.5rem;

        .hero--text--main--container {
            @include mixins.flex--layout($direction: column,
                $align: baseline,
                $justify: baseline);
            row-gap: 3.5rem;

            @include mixins.responsive(sm) {
                row-gap: 0.5rem;
            }

            .hero--text--container,
            .hero--text--container--mobile {
                font-family: Satoshi, -apple-system, Helvetica Neue, sans-serif;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: justify;
                font-weight: 600;
                color: variables.$primary--text--color;
                overflow: hidden;

                @include mixins.responsive(sm) {
                    display: none;
                }

                .hero--main--text {}
            }

            .hero--text--container {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: justify;

                font-size: 12vw;
                line-height: 12.8rem;

                @include mixins.responsive(mdx) {
                    font-size: 5.5rem;
                    line-height: 6rem;
                }
            }

            .hero--intro--container {
                width: 100%;

                @include mixins.responsive(sm) {
                    margin-top: 4rem;
                }

                .hero--intro--sub--container {
                    @include mixins.flex--layout($direction: row,
                        $align: end,
                        $justify: space-between);

                    .hero--intro--skills--container {
                        @include mixins.flex--layout($direction: column,
                            $align: baseline,
                            $justify: baseline);
                        width: 30%;
                        padding: 0.5rem;
                        row-gap: 0.7rem;
                        font-weight: 300;
                        font-size: 0.9rem;

                        .hero--intro--skills--header {
                            color: rgb(146, 136, 136);
                            text-transform: uppercase;
                            @include mixins.flex--layout($direction: row,
                                $align: center,
                                $justify: baseline);

                            .hero--intro--skills--header--container {
                                overflow-x: hidden;

                                .hero--intro--skills--header--text--character {
                                    transform: translate(100%, 0%);
                                }
                            }
                        }

                        .hero--intro--main--skills {
                            @include mixins.flex--layout($direction: row,
                                $align: center,
                                $justify: baseline);
                            flex-wrap: wrap;
                            color: hsl(0, 0%, 100%);
                            column-gap: 0.3rem;
                            width: 100%;
                            text-wrap: wrap;
                            word-wrap: break-word;

                            .hero--intro--skill--text {
                                overflow-y: hidden;

                                div {
                                    transform: translate(0, 200);
                                    opacity: 0.3;
                                }
                            }

                            .and--more {
                                margin-left: 0.1rem;
                                color: hsl(0, 4%, 55%);
                                overflow-y: hidden;

                                div {
                                    transform: translate(0, 200);
                                    opacity: 0.3;
                                }
                            }
                        }
                    }

                    .hero--intro--expertise {
                        width: 100%;
                        @include mixins.flex--layout($direction: column,
                            $align: end,
                            $justify: end);
                        font-weight: 500;
                        margin-left: auto;
                        font-size: 5rem;
                        line-height: 6rem;
                        color: hsl(0, 7%, 59%);

                        @include mixins.responsive(sm) {
                            font-size: 1.8rem;
                            line-height: 3rem;
                        }

                        .intro--expertise {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-align: justify;

                            .hero--intro--expertise--text {
                                @include mixins.responsive(sm) {
                                    .character--space {
                                        margin: 0.5rem !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}