@font-face {
	font-family: "Satoshi";
	src: url("../assets/fonts/Satoshi/Satoshi-Light.woff") format("woff"), 
    url("../assets/fonts/Satoshi/Satoshi-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../assets/fonts/Satoshi/Satoshi-Regular.woff") format("woff"),
    url("../assets/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../assets/fonts/Satoshi/Satoshi-Medium.woff") format("woff"),
    url("../assets/fonts/Satoshi/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("../assets/fonts/Satoshi/Satoshi-Bold.woff") format("woff"),
    url("../assets/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: "Passenger Sans";
	src: url("../assets/fonts/passenger-sans/PassengerSans-Light.woff") format("woff"), 
    url("../assets/fonts/passenger-sans/PassengerSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Passenger Sans";
	src: url("../assets/fonts/passenger-sans/PassengerSans-Regular.woff") format("woff"), 
    url("../assets/fonts/passenger-sans/PassengerSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Passenger Sans";
	src: url("../assets/fonts/passenger-sans/PassengerSans-Medium.woff") format("woff"), 
    url("../assets/fonts/passenger-sans/PassengerSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Tanker";
	src: url("../assets/fonts/tanker/Tanker-Regular.woff") format("woff"), 
    url("../assets/fonts/passenger-sans/Tanker-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}