@import './fonts';

* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: inherit;
	scroll-snap-type: y mandatory;

}

body {

	min-height: 100vh;
	font-family: Passenger Sans, Satoshi, -apple-system, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	background-color: hsl(0, 1%, 15%);
	font-size: 1rem;
    line-height: 1.5;
	text-rendering: optimizeLegibility;

	&::-webkit-scrollbar {

		width: 0.3rem;

	}

	&::-webkit-scrollbar-track {

		box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);

	}

	&::-webkit-scrollbar-thumb {

		background-color: hsl(225, 14%, 89%);
		border-radius: 20px;
		color: hsl(0, 0%, 96%);
        
	}

}