.quote--container {

    padding: 7rem 0;

    .quote--sub--container {

        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
    
        .quote--text {
        
            font-family: Satoshi, -apple-system, Helvetica Neue, sans-serif;
            position: relative;
            font-size: 1.9rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 1rem;
            max-width: 70%;
            color: hsl(0, 3%, 73%);

        }

        .quote--author {
            
            font-size: 1rem;
            font-weight: 500;
            color: hsl(0, 0%, 56%);

        }

    }

}