@use "../../../styles/mixins";
@use "../../../styles/variables";

.intro--container {
    height: 900px;
    margin-top: 5rem;

    @include mixins.responsive(sm) {
        height: 500px;
    }

    .intro--sub--container {
        @include mixins.flex--layout($direction: column,
            $align: baseline,
            $justify: baseline);
        row-gap: 4.5rem;

        .intro--text--container {
            width: 100%;
            @include mixins.center--section;

            .intro--text {
                @include mixins.flex--layout($direction: row,
                    $align: start,
                    $justify: start);
                flex-wrap: wrap;
                width: 35%;
                font-family: Inter, -apple-system, Helvetica Neue, sans-serif;
                color: white;
                font-size: 1.5vw;
                font-weight: 200;

                @include mixins.responsive(sm) {
                    font-size: 4.6vw;
                    width: 100%;
                }
            }
        }

        .intro--text--container--start {
            @include mixins.flex--layout($direction: column,
                $align: start,
                $justify: start);
        }

        .intro--text--container--end {
            @include mixins.flex--layout($direction: column,
                $align: end,
                $justify: end);
        }

        .intro--role--container {
            width: 100%;

            .intro--role--sub--container {
                @include mixins.flex--layout($direction: column,
                    $align: baseline,
                    $justify: baseline);
                width: 100%;

                .intro--role--text--container {
                    width: 100%;

                    .intro--role--text {
                        font-family: sans-serif;
                        font-style: italic;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-align: justify;
                        font-size: 10vw;
                        line-height: 7rem;
                        font-weight: 600;
                        color: variables.$primary--text--color;

                        @include mixins.responsive(sm) {
                            font-size: 15vw;
                            line-height: 3rem;
                        }
                    }

                    .intro--top--role--text {
                        @include mixins.flex--layout($direction: row,
                            $align: start,
                            $justify: start);
                    }

                    .intro--center--role--text {
                        @include mixins.flex--layout($direction: row,
                            $align: center,
                            $justify: center);
                        transform: translate3d(-20px, 0, 0);
                    }

                    .intro--bottom--role--text {
                        @include mixins.flex--layout($direction: row,
                            $align: end,
                            $justify: end);
                    }
                }
            }
        }
    }
}