@use "../../../styles/mixins";
@use "../../../styles/variables";

.header--container {

    margin-bottom: 4rem;

    .header--sub--container {
    
        @include mixins.center--section;
        @include mixins.flex--layout($align: baseline);
        padding: 1rem 0;

        .header--logo--container {

            @include mixins.center--element;
        
            .header--logo {
            
                font-weight: 700;
                font-size: 2rem;
                color: white;
                letter-spacing: 0.2rem;

            }

        }

    }

}