@use "../../../styles/mixins";
@use "../../../styles/variables";

.header--main--container {
	overflow-y: hidden;
	z-index: 100;
	width: 100vw;

	.header--sub--container {
		@include mixins.center--section;
		@include mixins.flex--layout($align: center);
		padding: 1rem 0;

		.header--logo--container {
			@include mixins.center--element;

			.header--logo {
				font-weight: 700;
				font-size: 2rem;
				color: white;
				letter-spacing: 0.2rem;
				cursor: pointer;
			}
		}

		.header--util--main--container {
			.header--util--sub--container {
				@include mixins.flex--layout(
					$direction: row,
					$align: center,
					$justify: space-between
				);
				column-gap: 2rem;

				.header--resume--link--container {
					width: 100%;

					.header--resume--link {
						@include mixins.flex--layout(
							$direction: row,
							$align: baseline,
							$justify: baseline
						);
						@include mixins.center--element;
						text-decoration: none;
						border: 0.01rem solid variables.$primary--text--color;
						border-radius: 100vh;
						padding: 0.6rem 1rem;
						color: variables.$primary--text--color;
						position: relative;

						.header--resume--link--children--container {
							@include mixins.flex--layout(
								$direction: row,
								$align: center,
								$justify: baseline
							);
							column-gap: 0.8rem;
							pointer-events: none;
							user-select: none;

							.header--resume--link--children--text--container {
								@include mixins.flex--layout(
									$direction: column,
									$align: center,
									$justify: center
								);
								overflow-y: hidden;
                                max-height: 1.5rem;
			                    height: 100%;
                                position: relative;

								.header--resume--link--children--text {
                                    height: fit-content;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
								}

                                .first--header--resume--link--children--text {
                                
                                    transform: translate(0px, 50%);

                                }

                                .second--header--resume--link--children--text {
                                
                                    transform: translate(0px, 50%);

                                }
							}

							.header--resume--link--icon {
								@include mixins.center--element;
							}
						}
					}
				}

				.header--navigation--button--container {
					.header--navigation--button {
						@include mixins.button;
						border: 0.01rem solid variables.$primary--text--color;
						border-radius: 100vh;
						height: 2.8rem;
						width: 2.8rem;
						position: relative;

						.navigation--icon {
							width: 1.5rem;
							background-color: white;
							height: 0.01rem;
							position: absolute;
							left: 50%;
							transform: translate(-50%, -50%);

							&:first-child {
								top: 30%;
							}

							&:nth-child(2) {
								top: 50%;
							}

							&:last-child {
								bottom: 30%;
							}
						}
					}
				}

				// @include mixins.center--element;
				// width: 100%;
				// margin-top: 1.5rem;

				// .hero--link {

				//     @include mixins.flex--layout($direction: row, $align: baseline, $justify: baseline);
				//     @include mixins.center--element;
				//     text-decoration: none;
				//     border: 0.01rem solid variables.$primary--text--color;
				//     border-radius: 100vh;
				//     padding: 0.8rem 1.5rem;
				//     color: variables.$primary--text--color;

				//     .hero--link--inner--container {

				// @include mixins.flex--layout($direction: row, $align: center, $justify: baseline);
				// column-gap: 1rem;

				//         .hero--link--icon {

				//             @include mixins.center--element;
				//             transform: rotate(90deg);

				//         }

				//     }

				// }
			}
		}
	}
}
