@use "../../../styles/mixins";
@use "../../../styles/variables";

.navigation--container {
	background-color: rgb(52, 49, 49);
	width: 100vw;
	height: 100vh;
	display: none;

	.navigation--sub--container {
		@include mixins.flex--layout($align: stretch, $justify: stretch);
		width: 100vw;
		height: 100vh;
		// border: 1px solid red;
		// background-color: red;

		.navigation--grid {
			width: 100%;
			height: 100vh;
			background-color: hsl(0, 0%, 9%);
			border-right: 0.01rem solid rgb(209, 201, 201);

			&:last-child {
				border: none;
				border: 0rem;
			}
		}

		.navigation--content--container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			overflow-y: scroll;
			overflow-x: hidden;

			.navigation--content--sub--container {
				@include mixins.flex--layout(
					$direction: column,
					$align: center,
					$justify: baseline
				);
				row-gap: 2rem;
				width: 100vw;
				height: 100vh;
				margin-top: 0rem;
				margin-top: 8rem;

				.navigation--link--container {
					.navigation--link {
						@include mixins.center--element;
						width: 100%;
						text-decoration: none;
						color: white;
						font-size: 4rem;
						font-weight: 400;
						font-family: Zodiak, Satoshi, -apple-system,
							Helvetica Neue, sans-serif;
					}
				}
			}

			&::-webkit-scrollbar {
				width: 0.3rem;
			}

			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
			}

			&::-webkit-scrollbar-thumb {
				background-color: hsl(225, 14%, 89%);
				border-radius: 20px;
				color: hsl(0, 0%, 96%);
			}
		}
	}
}
